@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: blanchedalmond;
}

.title {
    text-align: center;
    color: rgb(27, 27, 148);
    font-family: "Playfair Display", serif;
    position: relative;
    animation: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes title {
    0% {top: -100px}
    100% {top: 10px}
}

.recipe-link {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    animation: recipe-link;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes recipe-link {
    0% {left: -1000px;}
    85% {left: 50px;}
    100% {left: 0;}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  40px;
    width: 200px;
  }

.ingredients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 27, 148);
}

.ingredients-table {
    border: 1px solid black;
    margin: 0 auto;
}

.recipe {
    text-align: center;
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 27, 148);
    animation: instructions;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes instructions {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.instructions ol {
    margin: 0 auto;
    width: 75%;
    border: 1px solid black;
}

.footer {
    text-align: center;
    font-size: 10x;
    color: rgb(27, 27, 148);
}